// animation cards menu

.entrance,
.dishes,
.dessert {
    opacity: 0;
}

.entrance {
    animation: appear 2s linear forwards;
}

.dishes {
    animation: appear 2s linear forwards;
    animation-delay: 400ms;
}

.dessert {
    animation: appear 2s linear forwards;
    animation-delay: 600ms;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}