 
//  footer page accueil 
 
 .footer {
     padding: 22px 25px;
     background: #353535;
     color: #fff;

     @media (min-width:768px) {
         display: flex;
         justify-content: flex-end;
         padding: 30px 25px;
         gap: 7px;
         align-items: baseline;
     }

     h3 {
         font-family: 'Shrikhand';
         font-weight: 400;
         font-size: 19px;

         @media (min-width:768px) {
             margin: 0;
             order: 1;
             margin-top: 33px;
             width: 144px;

         }
     }

     p {
         font-size: 16px;
     }

     img {
         margin-right: 11px;
     }

     .link-contact {
         text-decoration: none;
         color: #fff;

         @media (min-width:768px) {
             width: 144px;
         }
     }

     .link-partners {
         @media (min-width:768px) {
             width: 180px;
         }
     }
 }

//  footer page menu

.footer-menu {
   
    position: absolute;
    top: 1428px;
    left: 0;
    right: 0;
}

h3 {
    font-family: 'Shrikhand';
     margin-bottom: 16px;
     @media (min-width:768px) {
            bottom: 10%;
       }
}