 
// primaire
$purple-soft: #9356DC;
// secondaire
$pink : #FF79DA;
// tertiaire
$border-h2: #99E2D0;


// color backround menu/restaurant/location
$background-menu-restaurants-location: #EAEAEA;
//color backround section resa
$blanc-gris: #F6F6F6;
// color backround new-badge
$cyan-soft : #99E2D0;
// color texte new-badge
$cyan-strong: #008766;


$bleu-soft: #89C8FA;
$bleu-deep: #003A68;