@import'./variables';
@import'./mixin';
@import'./animation-menu';
@import'./footer';


// general

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

h1 {
    font-family: 'Shrikhand';
    font-size: 28px;
}

h2 {
    font-size: 16px;
    font-family: 'roboto';
}

h3 {
    font-size: 18px;
    font-family: 'roboto';
}

p {
    font-size: 15.043px;
    font-family: 'roboto';
}

.button {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    width: 186px;
    height: 50px;
    border-radius: 25px;
    color: #ffff;
    @include shadow-button-cards;
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    font-weight: bold;
    opacity: 1;
    transition: opacity 450ms;
    margin: 28px auto 40px auto;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
    }

    &:not(:hover):after {
        animation: opacity 450ms;
    }

    @media (min-width:768px) {
        margin-bottom: 30px;
    }
}

// header

header {
    display: flex;
    flex-direction: row;
    height: 63px;

    .fa-arrow-left {
        font-size: 1.40em;
        color: black;
        margin: 20px 0 16px 17px;
    }

    h1 {
        margin: auto;
        width: 197px;
        padding: 0 19px 0 19px;
    }
}

// section image

.images {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
}

// menu
main {

    .cards-main {
        width: 100%;
        height: 1145px;
        margin-top: -60px;
        position: absolute;
        background-color: $blanc-gris;
        border-radius: 40px 40px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media (min-width:768px) {
            width: 77%;
            margin-left: auto;
            margin-right: auto;
            margin-left: 192px;
            margin-right: 192px;
        }
    }

    h1 {
        margin: 32px 0 0 17px;

        @media (min-width:768px) {
            display: flex;
            justify-content: space-around;
        }
    }

    h2 {
        display: flex;
        flex-direction: row;
        margin: 40px 0 0 12px;
        border-bottom: 3px solid;
        height: 30px;
        width: 40px;
        border-color: $border-h2;

        @media (min-width:768px) {
            margin: 0 110px 0 111px;
        }

        @media (min-width:1200px) {
            margin-left: 210px;
        }
    }

    .fa-regular,
    .fa-solid {
        right: 20px;
        margin-top: 5px;
        position: absolute;
        top: 40px;
        right: 12px;
        font-size: 1.15em;
    }

    .fa-solid {
        opacity: 0;
        transition: opacity 500ms;

        &:hover {
            opacity: 1;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        }

        &:not(:hover):after {
            animation: opacity 300ms linear infinite;
            animation-fill-mode: forwards;
        }

    }

    .cards-menu {
        height: 69px;
        border-radius: 15.043px;
        background-color: #ffff;
        @include shadow-button-cards;
        display: flex;
        flex-direction: column;
        margin: 0 12px 0 12px;

        @media (min-width:768px) {
            margin: 0 110px 0 111px;
        }

        @media (min-width:1200px) {
            margin: 0 210px 0 211px;
        }

        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 15px 15px 0px 15px;
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 15px;
        }

        .price {
            float: right;
            font-weight: bold;
            overflow: visible;
            margin-right: 16px;
        }

        .product-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }

}



// footer

// footer {
//     @include footer
// }