
@import'./variables';
@import'./mixin';
@import'./loader';
@import'./header';
@import'./footer';
@import'./button';


// general

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Shrikhand';
    width: 375px;
}

h2 {
    font-size: 24px;
    font-weight: 700;

}

.name {
    font-size: 18px;
    font-weight: 700;
}

.city {
    font-size: 18px;
    font-weight: 300;
}





//   reservation

.resa {
    width: 100%;
    height: 287.5px;
    display: flex;
    flex-direction: column;
    background-color: $blanc-gris;
    align-items: center;

    @media (min-width:768px) {
        height: 215px;

    }

    h2 {
        padding: 39px 58px 0px 42px;
        padding-top: 39px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        @media (min-width:768px) {
            font-size: 40px;
            padding: 0 0 18px 0;
            margin-top: 30px;
        }
    }

    p {
        padding: 0 26px 27px 34px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        @media (min-width:768px) {
            padding-bottom: 18px;
        }
    }

    // .button {
    //     text-decoration: none;
    //     text-align: center;
    //     padding: 15px;
    //     width: 218px;
    //     height: 50px;
    //     border-radius: 25px;
    //     color: #ffff;
    //     @include shadow-button-cards;
    //     background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    //     font-weight: bold;
    //     opacity: 1;
    //     transition: opacity 450ms;

    //     &:hover {
    //         opacity: 0.8;
    //         box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
    //     }

    //     &:not(:hover):after {
    //         animation: opacity 450ms;
    //     }

    //     @media (min-width:768px) {
    //         margin-bottom: 30px;
    //     }
    // }

}

// fonctionement

.functioning {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        padding: 48px 80px 0px 20px;

        @media (min-width:768px) {
            padding: 50px 0 0 180px;
        }
    }

    p {
        display: flex;
        justify-content: space-evenly;
        padding-top: 4px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: $purple-soft;
        font-size: 14.182px;
        margin-left: -12.5px;
        color: #ffff;

    }

    ul {
        margin: 26px 20px 68px 33px;

        @media (min-width:768px) {
            display: flex;
            flex-direction: row;
            gap: 36.51px;
            padding: 25px 180px 50px 180px;
            margin: 0;

            @media (max-width:1200px) {
                padding: 25px 90px 50px 90px;
            }

        }
    }

    li {
        width: 100%;
        height: 72.379px;
        list-style: none;
        align-items: center;
        display: flex;
        @include shadow-button-cards;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        gap: 20px;
        margin-bottom: 25px;
        @media (min-width:768px) {
            margin-bottom: 0;
        }
        
    }
        
}

// restaurant

.section-restaurant {
    padding: 0 18px 66px 17px;

    @media (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 180px 30px 180px;
        gap: 28px;

        @media (max-width:1200px) {
            padding: 25px 90px 50px 90px;
        }
    }

    h2 {
        padding: 48px 80px 0px 3px;

        @media (min-width:768px) {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
    }

    .cards {
        height: 300px;
        position: relative;
        width: 100%;
        @include shadow-button-cards;
        border-radius: 15px;
        margin-top: 18px;

        @media (min-width:768px) {
            margin: 0;
            width: 46%;
        }
    }

    .cards img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 231px;
        object-fit: cover;

        @media (min-width:768px) {
            width: 100%;
        }
    }

    .card-texte {
        border-radius: 0 0 15px 15px;
        height: 60px;
        margin-top: -3px;
    }

    .new-badge {
        border-radius: 2px;
        background-color: $cyan-soft;
        position: absolute;
        padding: 5px 10px;
        right: 30px;
        top: 15px;
        color: $cyan-strong;
        font-size: 14px;
    }

    .name {
        margin: 16px 0 5px 13px;
    }

    .city {
        margin: 0 0 12px 13px;
        font-size: 17px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .fa-regular,
    .fa-solid {
        right: 20px;
        font-size: 1.15em;
        position: absolute;
    }

    .fa-solid {
        opacity: 0;
        transition: opacity 500ms;

        &:hover {
            opacity: 1;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        }

        &:not(:hover):after {
            animation: opacity 300ms linear infinite;
            animation-fill-mode: forwards;
        }
    }

}


